{% extends "base.html" %}
{% block title %}❤ 짱 귀여운 진실이의블로그 ❤{% endblock %}
{% block content %}

<br>

<div class="container">

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <img src="/static/img04.png" class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/static/img04.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <img src="/static/img04.png" class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/static/img04.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}