{% extends "base.html" %}
{% block title %}❤ data input page ❤{% endblock %}
{% block content %}
<br>

<h1 class = "text-center"><b><i>❤ 전송 데이터 입력 ❤</b></i></h1>

<div class = "container">

<form action="/methodout" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name = "name" aria-describedby="NameHelp">
      <div id="NameHelp" class="form-text">이름은 한글로 작성하세요.</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email adress</label>
        <input type="email" class="form-control" id="email" name = "email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">진실이네는 당신의 개인정보를 소중히 다룹니다!</div>
      </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Password</label>
      <input type="password" class="form-control" id="pass" name = "pass" aria-describedby="PassHelp">
      <div id="PassHelp" class="form-text">특수기호가 하나 이상 들어가야 합니다.</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}